[submodule "lib/vector"]
	path = lib/vector
	url = https://github.com/janelia-arduino/Vector.git
[submodule "lib/array"]
	path = lib/array
	url = https://github.com/janelia-arduino/Array.git
[submodule "lib/arduino-logger"]
	path = lib/arduino-logger
	url = https://github.com/embeddedartistry/arduino-logger.git
