[submodule "lib/vector"]
	path = lib/vector
	url = https://github.com/janelia-arduino/Vector.git
[submodule "lib/array"]
	path = lib/array
	url = https://github.com/janelia-arduino/Array.git
[submodule "lib/logging"]
	path = lib/logging
	url = https://github.com/kbeaugrand/Arduino-Logging-Library.git
